<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pass.Properties.servers" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="pass.servers" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="pass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="pass.Properties.Settings.pass2ConnectionString" connectionString="Data Source=roman-pc\sqlexpress;Initial Catalog=pass2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <pass.Properties.servers>
            <setting name="ServerName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Roman-PC</string>
                        <string>Toshiba</string>
                        <string>Pythag</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServerAddress" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Roman-PC\sqlexpress</string>
                        <string>Toshiba\Toshiba</string>
                        <string>Pythag</string>
                    </ArrayOfString>
                </value>
            </setting>
        </pass.Properties.servers>
        <pass.servers>
            <setting name="ServerName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Roman-PC</string>
                        <string>Toshiba</string>
                        <string>Pythag</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServerAddress" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Roma-PC\sqlexpress</string>
                        <string>Toshiba\Toshiba</string>
                        <string>Pythag</string>
                    </ArrayOfString>
                </value>
            </setting>
        </pass.servers>
        <pass.Properties.Settings>
            <setting name="serverList" serializeAs="String">
                <value>Roman-PC\sqlexpress|toshiba\toshiba</value>
            </setting>
            <setting name="LastDB" serializeAs="String">
                <value>0</value>
            </setting>
        </pass.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
